.accordion {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

  @include vp-1023 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @include vp-769 {
    display: flex;
    flex-direction: column;
  }
}

.accordion__list {
  display: grid;
  grid-template-columns: 1fr 345px;
  column-gap: 30px;

  @include vp-769 {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba($color-lighter-alice-blue, 0.7);
    border-bottom: 1px solid rgba($color-lighter-alice-blue, 0.7);
  }
}

.accordion__item {
  &--navigation {
    margin-left: auto;

    @include vp-1023 {
      margin-left: unset;
    }
  }

  @include vp-1023 {
    &--contacts {
      justify-self: end;
    }
  }

  @include vp-769 {
    border-bottom: 1px solid rgba($color-lighter-alice-blue, 0.7);

    &:last-child {
      border: none;
    }

    &--no-js {
      .accordion__toggle {
        padding: 21px 75px 18px 25px;

        &::after {
          content: none;
        }
      }

      .accordion__content {
        display: block;
      }
    }

    &--active {
      .accordion__toggle {
        padding: 21px 75px 18px 25px;

        &::after {
          right: 27px;
          background-image: url("../img/svg/icon-minus.svg");
        }
      }

      .accordion__content {
        display: block;
      }
    }
  }
}

.accordion__toggle {
  display: block;
  margin-bottom: 22px;
  padding-top: 7px;
  color: $color-default-white;

  @include vp-769 {
    position: relative;
    margin-bottom: 0;
    padding: 21px 75px 21px 25px;

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 26px;
      width: 15px;
      height: 15px;
      background-image: url("../img/svg/icon-plus.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  h2 {
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;
  }
}

.accordion__content {
  @include vp-769 {
    display: none;
  }
}
