.catalog {
  background-color: $color-black-pearl;
}

.catalog__wrapper {
  padding: 65px 75px 140px;

  @include vp-1023 {
    padding: 55px 50px 75px;
  }

  @include vp-767 {
    padding: 47px 25px 86px;
  }

  h2 {
    display: flex;
    min-width: 500px;
    max-width: 1220px;
    margin: 0 auto 54px;
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $color-default-white;

    @include vp-1023 {
      min-width: unset;
      margin-bottom: 38px;
    }

    @include vp-767 {
      margin-bottom: 29px;
      padding-right: 10px;
      font-size: 28px;
      line-height: 39px;
    }
  }
}

.catalog__title {
  &--mobile {
    display: none;
  }

  @include vp-767 {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: inline;
    }
  }
}

.catalog__list {
  display:  grid;
  grid-template-columns: repeat(3, minmax(260px ,350px));
  justify-content: center;
  column-gap: 4.8%;
  row-gap: 85px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
  }
}

.catalog__item {
  position: relative;
  max-width: 350px;
  height: 650px;

  @include vp-1023 {
    width: 670px;
    max-width: unset;
    height: 250px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 670px;
  }
}
