.navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 8px;

  @include vp-1023 {
    flex-direction: column;
  }

  @include vp-769 {
    padding: 0 25px 19px;
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 8px;
  width: 220px;
}

.navigation__item {
  display: inline-flex;
}

.navigation__link {
  display: block;
  color: rgba($color-default-white, 0.7);

  @include vp-769 {
    font-size: 14px;
    line-height: 19px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
