.page-footer {
  padding: 50px 75px 51px;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding: 50px 45px 65px 50px;
  }

  @include vp-767 {
    padding: 35px 0;
  }
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: min-content 1fr 345px;
  grid-template-rows: 55px auto;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  max-width: 1220px;
  padding: 0;

  @include vp-1023 {
    grid-template-columns: min-content 1fr;
    grid-template-rows: 55px auto;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    column-gap: unset;
    row-gap: unset;
  }
}

.page-footer__logo-wrapper {
  width: 215px;
  height: 55px;

  @include vp-767 {
    margin: 0 55px 15px 50px;
  }
}

.page-footer__logo {
  display: block;
  width: 215px;
  height: 55px;
}
